<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="parametro.limites" value="14" />
      <add key="limite1" value="Branch,4" />
      <add key="limite2" value="Account,6" />
      <add key="limite3" value="Sufix,3" />
      <add key="limite4" value="HoldNo,4" />
      <add key="limite5" value="StartDate,8" />
      <add key="limite6" value="ExpiryDate,8" />
      <add key="limite7" value="Amount,16" />
      <add key="limite8" value="CodeResp,3" />
      <add key="limite9" value="CodeReason,3" />
      <add key="limite10" value="DscLine1,35" />
      <add key="limite11" value="DscLine2,35" />
      <add key="limite12" value="DscLine3,35" />
      <add key="limite13" value="DscLine4,35" />
      <add key="limite14" value="InputDate,8" />
    </appSettings>
</configuration>